/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.maccha{
  &__inner{
    padding:50px 150px;
  }
}

.kinds{
  &__item{
    flex-basis: 23%;
  }
}